img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.del{
  width: 200px;
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  button{
    text-transform: capitalize;
  }
}
