.container{
  width:100%;
}
.table-container {
  margin-top: 20px;
}
.game-img {
  width: 80px;


  object-fit: cover;
  border-radius: .3rem;
}

tbody:hover{
  background-color: whitesmoke;
}

tr{
  cursor: pointer;
}

