<!-- <div class="card">
  <div class="card-body">
    <h2 class="card-title text-center">{{games?.name }}</h2>
    <form (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{games?.name}}" required>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" value="{{games?.type}}" required>
      </div>
      <div class="form-group">
        <label for="platform">Platform</label>
        <input type="text" class="form-control" id="platform" name="platform" value="{{games?.platform}}" required>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" value="{{games?.rating}}" required>
      </div>
      <div class="form-group">
        <label for="age">Age Rating</label>
        <input type="number" class="form-control" id="age" name="age" value="{{games?.age}}" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="{{games?.price}}" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" value="{{games?.description}}" required></textarea>
      </div>
      <div class="form-group text-center"> <!-- Center align the image -->
        <!-- <label for="label">Image URL</label>
        <input type="text" class="form-control" id="label" name="label" value="{{games?.label}}"        required>
        <img src="{{ games?.label }}" alt="Game Image" class="img-fluid mt-2"> <!-- Use img-fluid for responsive images and add mt-2 for top margin -->
      <!-- </div>
      <button type="submit" class="btn btn-primary btn-block">Update</button> <!-- Use btn-block to make the button full-width -->
    <!-- </form>
  </div> -->
<!-- </div> -->
<div *ngIf="editableGame"       class="card">
  <div class="card-body">
    <h2 class="card-title text-center">{{editableGame!.name}}</h2>
    <form (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editableGame!.name" required>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" [(ngModel)]="editableGame!.type" required>
      </div>
      <div class="form-group">
        <label for="platform">Platform</label>
        <input type="text" class="form-control" id="platform" name="platform" [(ngModel)]="editableGame!.platform" required>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" [(ngModel)]="editableGame!.rating" required>
      </div>
      <div class="form-group">
        <label for="age">Age Rating</label>
        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="editableGame!.age" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="editableGame!.price" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="editableGame!.description" required></textarea>
      </div>
      <div class="form-group text-center">
        <label for="label">Image URL</label>
        <input type="text" class="form-control" id="label" name="label" [(ngModel)]="editableGame!.label"  required>
        <img [src]="editableGame.label" alt="Game Image" class="img-fluid mt-2">
        <button type="submit" class="btn btn-primary btn-block"> <i class="fa fa-pencil" aria-hidden="true"></i>  </button>
      </div>

    </form>
  </div>
</div>
