.box{
  width: 100%;

}
h1{
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
   margin: 5rem 0;
}
img{
  width: 350px;
  height: 500px;
  object-fit:cover;
  border-radius: .4rem;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

